Package: keycloak
Version: ${project.version}-${git.commit.id.abbrev}
Section: misc
Priority: optional
Architecture: all
Depends: jdk (>= 1.8) | default-jdk | default-jdk-headless | openjdk-8-jdk
Maintainer: Ali rahmani <arahmani@palo-it.com>
Description: MunichRE
